.pagination {
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    @media screen and (max-width: 500px) {
        gap: 10px;
    }

    &__btn-area {
        display: flex;
        gap: 10px;
        align-items: center;

        button {
            border-radius: 5px;
        }
    }
}
