@import '../../styles/abstract/mixins.scss';
.control-panel {
    background-color: azure;
    width: 100%;
    padding: 10px 30px;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    &__add-post-btn {
        @include link;
        height: 40px;
        border-radius: 20px;
        border: 1px solid black;
        background: rgb(230, 224, 224);
    }
}
