@import '../../styles/abstract/mixins.scss';
.sort {
    position: relative;

    &__wrapper {
        display: flex;
        height: 40px;
        border-radius: 20px;
        border: 1px solid black;
        background: rgb(230, 224, 224);
        transition: all 0.4s ease-out;
        padding: 0 10px;

        &_active {
            border-radius: 32px 32px 0 0;
        }
    }

    &__button {
        @include link;
        background-color: transparent;
        border: none;
    }

    &__button-arrow {
        cursor: pointer;
        width: 20px;
        background-color: transparent;
        border: none;
        background-image: url('./images/sort.svg');
        background-repeat: no-repeat;
        background-size: 20px;
        background-position: center;
        transition: 0.5s;

        &_reverse {
            transform: rotate(180deg);
        }
    }
}
.sort-list {
    position: absolute;
    box-sizing: border-box;
    top: 50%;
    left: 0;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;

    padding: 10px 0 10px 20px;

    margin: 0;

    visibility: hidden;
    opacity: 0;
    border-radius: 0px 0px 32px 32px;
    border: 1px solid black;
    background: white;

    transition: all 0.4s ease-out;

    &_active {
        top: 100%;
        visibility: visible;
        opacity: 1;
        border-width: 0 1px 1px 1px;
    }

    &__item {
        @include link;
        list-style: none;
    }
}
